<article class="prose">
  <h1>Favourites</h1>

  <h2>Music</h2>
  <ul>
    <li>Jacob Collier - <a href="https://www.youtube.com/watch?v=fD4rxj7-uO0&list=RDfD4rxj7-uO0&start_radio=1">& Daniel Caesar</a></li>
    <li>Soft Lipa - <a href="https://www.youtube.com/watch?v=Q9uTyjJQ0VU&list=RDQ9uTyjJQ0VU&start_radio=1">Epic</a></li>
    <li>Suchmos - <a href="https://www.youtube.com/watch?v=PLgYflfgq0M&list=RDPLgYflfgq0M&start_radio=1">Stay Tune</a></li>
  </ul>
  

  <h2>Tools</h2>
  <ul>
    <li>Neovim</li>
    <li>Cursor</li>
    <li>Claude Code</li>
  </ul>
</article>
